<!DOCTYPE html>
<html>
  <head>
  <style>
  body {
  background-color: #EDEAE5;
  margin: 0px;
  padding:0;
  font-family: , Veranda, Sans-serif;
  
}
  .content{
  margin-top: 40px;
  }
  .c-div-introblock{
  background-image: url("clouds.jpg"); /* The image used - important! */
  background-size: cover;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  margin: 0px auto;
  }
  .c-h1-introduction{
  font-family: Verdana, Lucida Sans,  Sans-serif;
  font-size:2vw;
  color: #ffffff;
  
  line-height: 6pt;
   margin: 0 auto; /* Center the text container */
  padding: 10px;
  width: 50%;
  text-align: center; /* Center text */
  position: absolute; /* Position text */
  top: 36%; /* Position text in the middle */
  left: 14%; /* Position text in the middle */
  transform: translate(-25%, -25%); /* Position text in the middle */
  
  
}
  .c-h2-name{
  font-family: Verdana, Lucida Sans,  Sans-serif;
  background-color: white;
  color: black;
  font-size: 10vw; /* Responsive font size */
  font-weight: bold;
  margin: 0 auto; /* Center the text container */
  padding: 10px;
  width: 50%;
  text-align: center; /* Center text */
  position: absolute; /* Position text */
  top: 50%; /* Position text in the middle */
  left: 50%; /* Position text in the middle */
  transform: translate(-50%, -50%); /* Position text in the middle */
  mix-blend-mode: screen; /* This makes the cutout text possible */}
  
  .c-h1-introduction-bottom{
  font-family: Verdana, Lucida Sans,  Sans-serif;
  font-size:2vw;
  color: #ffffff;
  
  line-height: 6pt;
  
  margin: 0 auto; /* Center the text container */
  padding: 10px;
  width: 50%;
  text-align: center; /* Center text */
  position: absolute; /* Position text */
  top: 60%; /* Position text in the middle */
  left: 50%; /* Position text in the middle */
  transform: translate(-25%, -25%); /* Position text in the middle */
  
  }
  
  .c-div-about-me{
  max-width: 1000px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  margin: 0px auto;
  }
 
 .c-h3-about-heading{
 font-size: 150
 }
 .right{
 float: right;
 font-style: italic;
  }
  
 .c-list-about-me{
  list-style-position: inside;
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 300px));
  font-size: 90%;
  list-style-type: square;}
  
  .c-nav-bar{
  overflow: hidden;
  background-color: #ffffff;
  font-size: 9pt;
  text-transform: uppercase;
  text-align: center;
  padding: 3vw;
  position:fixed;
  top: 0;
  width: 100%;
  }
  
  .c-nav-container{
  }
  
  .c-nav-content{
   display: inline-block;
   overflow: hidden;
   float: left;
   text-decoration: none;
   color: black;
  }
  
  .dropbtn {
  background-color: inherit;
  color: #black;
  font-size: 9pt;
  border: none;
  text-transform: uppercase;
  text-align: right;
}

.dropdown {
  display: inline-block;
  text-align: right;
  float: right;
  margin-right: 18vw;
  
}

.dropdown-content {
  display: none;
  z-index: 1;
  background-color: #D4A59A;
  width: 25%;
  position: fixed;
}

.dropdown-content a {
  text-transform: uppercase;
  text-decoration: none;
  text-align: left;
  display: block;
  color: #ffffff;
  font-size: 2vw;
  margin: 3vw;
}

dropdown-content a:hover {background-color: black;}

.dropdown:hover .dropdown-content {display: block;}
