

body {
  background-color: #6c90b1;
  margin: 0px;
  padding:0;
  font-family:Verdana, Lucida Sans,  Sans-serif;
  overflow-x: hidden
}


    
  .c-nav-bar{
  overflow: hidden;
  background-color: #ffffff;
  font-size: 2vw;
  text-transform: uppercase;
  text-align: center;
  position:fixed;
  top: 0;
  width: 100%;
  font-style: Verdana;
  height: 34px;
  }
  
 c-nav-logo {
   max-height: 34px;
   max-width: 34px;}
  
  .c-nav-content{
   display: inline-block;
   overflow: hidden;
   float: left;
   text-align: center;
   text-decoration: none;
   color: black;
   height:34px;
   padding: 10px 15px 9px 15px;
   
  }
  
  .div-bar {
  width: 25px;
  height: 2px;
  background-color: black;
  margin: 6px 0;
  }
 
  .dropbtn{
  float: right;
  border: none;
  background-color: #ffffff
  }

.dropdown {
  display: inline-block;
  text-align: right;
  float: right;
  margin-right: 2vw;
  
}

.dropdown-content {
  display: none;
  float: none;
  z-index: 1;
  background-color: #ffffff;
  width: 25%;
  position: fixed;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);  
  right:0%;
  top:34px;
  left: auto;


}
.dropdown-content a {
  text-transform: uppercase;
  text-decoration: none;
  text-align: left;
  display: block;
  color: black;
  font-size: 1.5vw;
  margin: 3vw;
}



.f-div-landing-page{
  margin-top: 30px;  
  padding:0;
  }

 .c-div-introblock{
  background-image: url("clouds.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  width:100%;
  margin: 0px auto;
  }
  
  
  .c-h1-introduction{
  font-size:2vw;
  color: #ffffff;
  margin: 2vw auto;
  padding: 1vw;
  position: absolute; 
  top: 40%; 
  left: 14%; 
  transform: translate(-25%, -25%); 
}

  .c-h2-name{
  background-color: white;
  font-size: 10vw; 
  margin: 0 auto; 
  padding: 10px;
  maxwidth:50vw;
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%); 
  mix-blend-mode: screen; 
}
  
  .c-h1-introduction-bottom{
  font-size:2vw;
  color: #ffffff;
  margin: 0 auto;
  padding: 10px;
  width: 50%;
  text-align: center; 
  position: absolute; 
  top: 55%; 
  left: 74%; 
  transform: translate(-25%, -25%); 
  
  }


.f-div-info-pages{
 margin-left:50px;
 margin-right:50px;
 max-width: 1000px;
 justify-content: center;
 color:#EAE7Dc;
}
  
.c-div-about-me{
 
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 90vh;
  margin: 0px auto;
  margin-top: 30px;
  }
 c-div-about-head{
 
 }
 .c-h3-about-heading{
  background-color: white;
  color: #7095c8;
  font-size: 4vw; 
  font-weight: bold;
  margin: 10 auto; 
  padding: 12px;
  position: relative;
  max-width: 40%;
}
 

  .self1-image-formatting{
  padding:20px;
  float: left;
  min-height: 200px;
  max-height: 400px;
  min-width:200px;
  max-width: 400px;
  margin: 0px auto;
  height: 100%;
  margin-bottom: 20px;
}



  .c-div-about-body{
 
  float:right;
  min-width:200px;
  margin-left:20%;
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 300px));
  
  }
 .c-list-about-me{
  list-style-position: inside;
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 500px));
  font-size: 100%;
  list-style-type: square;
  line-height:200%}
  
  .c-p-about-para{
   line-height: 200%;
  }
  .c-p-about-para a{
  color: #ffffff;
  text-decoration: underline;
  text-decoration-color: #F4976C}
 



.dropdown:hover .dropdown-content {display: block;}

.c-p-about-para a:hover {
  background-color: #F4976C;
}
 
 
  .c-h3-work-heading{
  background-color: white;
  color: #7095c8;
  font-size: 4vw; 
  font-weight: bold;
  margin: 10 auto; 
  padding: 12px;
  position: relative;
  max-width: 230px;
}

 .right{
 float: right;
 font-style: italic;
  }
