
  body {
  background-color: #7095c8;
  margin: 0px;
  padding:0px;
  font-family: Verdana, Lucida Sans,  Sans-serif;
  overflow-x: hidden
  
}
  .content{
  margin-top: 1vw;
  padding:0;
  font-family: Verdana, Lucida Sans,  Sans-serif;
  }
  
    
  .c-nav-bar{
  overflow: hidden;
  background-color: #ffffff;
  font-size: 2vw;
  text-transform: uppercase;
  text-align: center;
  position:fixed;
  top: 0;
  width: 100%;
  font-style: Verdana;
  height: 34px;
  }
  
  .c-nav-container{
  }
  
  .c-nav-content{
   display: inline-block;
   overflow: hidden;
   float: left;
   text-align: center;
   text-decoration: none;
   color: black;
   height:34px;
   padding: 10px 15px 9px 15px;
   
  }
  
  .div-bar {
  width: 25px;
  height: 2px;
  background-color: black;
  margin: 6px 0;
  }
 
  .dropbtn{
  float: right;
  border: none;
  background-color: #ffffff
  }

.dropdown {
  display: inline-block;
  text-align: right;
  float: right;
  margin-right: 2vw;
  
}

.dropdown-content {
  display: none;
  float: none;
  z-index: 1;
  background-color: #ffffff;
  width: 25%;
  position: fixed;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);  
  right:0%;
  top:34px;
  left: auto;


}
.dropdown-content a {
  text-transform: uppercase;
  text-decoration: none;
  text-align: left;
  display: block;
  color: black;
  font-size: 1.5vw;
  margin: 3vw;
}






  .c-div-introblock{
  background-image: url("clouds.jpg"); /* The image used - important! */
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  width:100%;
  margin: 0px auto;
  }
  
  .c-div-introblock-header{
  
  display:inline-block;
  overflow:hidden;
  text-align: center; /* Center text */
  width: 50%;
  }
  .c-h1-introduction{
  font-family: Verdana, Lucida Sans,  Sans-serif;
  font-size:2vw;
  color: #ffffff;
  margin: 2vw auto; /* Center the text container */
  padding: 1vw;
  z-index: 4;
  position: absolute; /* Position text */
  top: 40%; /* Position text in the middle */
  left: 14%; /* Position text in the middle */
  transform: translate(-25%, -25%); /* Position text in the middle */
  
  
}
  .c-h2-name{
  font-family: Verdana, Lucida Sans,  Sans-serif;
  background-color: white;
  color: black;
  font-size: 10vw; /* Responsive font size */
  font-weight: bold;
  margin: 0 auto; /* Center the text container */
  padding: 10px;
 
  maxwidth:50vw;
  position: absolute; /* Position text */
  top: 50%; /* Position text in the middle */
  left: 50%; /* Position text in the middle */
  transform: translate(-50%, -50%); /* Position text in the middle */
  mix-blend-mode: screen; /* This makes the cutout text possible */}
  
  .c-h1-introduction-bottom{
  font-family: Verdana, Lucida Sans,  Sans-serif;
  font-size:2vw;
  color: #ffffff;
  
  line-height: 6pt;
  
  margin: 0 auto; /* Center the text container */
  padding: 10px;
  width: 50%;
  text-align: center; /* Center text */
  position: absolute; /* Position text */
  top: 55%; /* Position text in the middle */
  left: 74%; /* Position text in the middle */
  transform: translate(-25%, -25%); /* Position text in the middle */
  
  }
  
  
  
  
  
  
  .c-div-about-me{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  max-width:80% ;
  max-width: 1000px;
  margin: 0px auto;
  margin-left:10%;
  margin-top:30px;
  
  }
 
 .c-h3-about-heading{
  font-family: Verdana, Lucida Sans,  Sans-serif;
  background-color: white;
  color: #7095c8;
  font-size: 6vw; /* Responsive font size */
  font-weight: bold;
  margin: 0 auto; /* Center the text container */
  padding: 10px;
  maxwidth:50vw;
  position: relative; /* Position text */
  top: 50%; /* Position text in the middle */
  left: 50%; /* Position text in the middle */
  transform: translate(-50%, -50%); /* Position text in the middle */
  mix-blend-mode: screen; /* This makes the cutout text possible */}
 
 
  .c-div-self-picture1{
     
    float:left;
  }
  
  .self1-image-formatting{
  display: grid;
  justify-content: left;
  min-height: 100vh;
  max-width: 400px;
  margin: 0px auto;
  height: 100%;
  }
  .c-div-about-body{
  margin-left:20%;
  float:right;
  clear: left;
  }
 .c-list-about-me{
  list-style-position: inside;
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 300px));
  font-size: 90%;
  list-style-type: square;}
  
 .right{
 float: right;
 font-style: italic;
  }
  


.c-div-about-body{
}

dropdown-content a:hover {background-color: black;}

.dropdown:hover .dropdown-content {display: block;}
